<h2>Add universite</h2>
<form [formGroup]="universiteForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nomUniversite">Nom universite</label>
        <input type="text" class="form-control" id="nomUniversite" formControlName="nomUniversite" placeholder="Enter nom universite">
    </div>
    <div class="form-group">
        <label for="adresse">adresse universite</label>
        <input type="text" class="form-control" id="adresse" formControlName="adresse" placeholder="adresse universite">
    </div>
    <button type="submit" class="btn btn-primary">Add universite</button>
</form>
<br>
<h2 style="text-align: center;">Liste des universites</h2>

<div class="table-container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom universite</th>
                <th>adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let universite of universites">
                <td>{{ universite.idUniversite }}</td>
                <td>{{ universite.nomUniversite }}</td>
                <td>{{ universite.adresse }}</td>
                <td>
                    <button (click)="deleteuniversite(universite.idUniversite)" class="btn btn-danger btn-sm">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>