<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLink="/etudiant">Etudiant</a>

        <a class="nav-item nav-link" routerLink="/bloc">Bloc</a>
        <a class="nav-item nav-link" routerLink="/chambre">Chambre</a>
        <a class="nav-item nav-link" routerLink="/foyer">Foyer</a>
        <a class="nav-item nav-link" routerLink="/reservation">Reservation</a>


        <a class="nav-item nav-link" routerLink="/universite">Universite</a>
    </div>
</nav>
<router-outlet></router-outlet>