<h2>Add Reservation</h2>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="IDreservation">ID reservation</label>
        <input type="text" class="form-control" id="IDreservation" formControlName="IDreservation" placeholder="ID reservation">
    </div>
    <div class="form-group">
        <label for="LocalDate">annee Universitaire</label>
        <input type="date" class="form-control" id="LocalDate" formControlName="LocalDate" placeholder="Enter local Date">
    </div>
    <div class="form-group">
        <label for="vraiOuFaux">Sélectionnez un choix de valiadtion</label>
        <select class="form-control" id="vraiOuFaux" formControlName="vraiOuFaux">
            <option [ngValue]="true">Vrai</option>
            <option [ngValue]="false">Faux</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add reservation</button>
</form>
<br>
<h2 style="text-align: center;">Liste des reservations</h2>

<div class="table-container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>LocalDate</th>
                <th>estValide</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{ reservation.idReservation }}</td>
                <td>{{ reservation.anneeUniversitaire }}</td>
                <td>{{ reservation.estValide }}</td>

            </tr>
        </tbody>
    </table>
</div>